<style>
    .controls {
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid transparent;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        height: 29px;
        margin-left: 17px;
        margin-top: 10px;
        outline: none;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

    .controls:focus {
        border-color: #4d90fe;
    }

    .controls2 {
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid transparent;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        height: 29px;
        margin-left: 17px;
        margin-top: 10px;
        outline: none;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

    .controls2:focus {
        border-color: #4d90fe;
    }
</style>

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/links/add2/{{plan.id}}" method="POST">
                        {{!-- <div class="form-group">
                            <label for="FormControlInput01">Coach</label>
                            <input type="text" class="form-control" id="FormControlInput01"
                            placeholder="Nombre del Coach" name="coach" required>
                        </div> --}}
                        <div class="form-group">
                            <label for="FormControlInput0">Tipo de actividad célula</label>
                            <select class="form-control" name="tipo_act" required>
                                <option selected >{{plan.tipo_act}}</option>
                                <option value="Presencia">Presencia</option>
                                <option value="Expansión">Expansión</option>
                                <option value="Relanzamiento">Relanzamiento</option>
                                <option value="Mantenimiento">Mantenimiento</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="FormControlInput05">Actividad célula</label>
                            <select class="form-control" name="actividad" required>
                                <option selected>{{plan.actividad}}</option>
                                <option value="Oficinas de experiencia">Oficinas de experiencia</option>
                                <option value="Activaciones internas">Activaciones internas</option>
                                <option value="Activación punto de presencia">Activación punto de presencia</option>
                                <option value="Activación BTL">Activación BTL</option>
                                <option value="Volanteo masivo">Volanteo masivo</option>
                                <option value="Cruceros">Cruceros</option>
                                <option value="UPAX">UPAX</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="FormControlInput1">Número de promotores</label>
                            <input type="number" min=1 max=100 class="form-control" id="FormControlInput1"
                                placeholder="Ingrese número" name="num_promotores" value="{{plan.num_promotores}}" required>
                        </div>
                        <div class="form-group">
                            <label for="FormControlInput2">Fecha de actividad</label>
                            <input type="date" class="form-control" id="FormControlInput2" name="fecha_act" value="{{moment plan.fecha_act "YYYY-MM-DD"}}" required>
                        </div>
                        <div class="form-group">
                            <label for="FormControlInput3">Horario entrada</label>
                            <input type="time" class="form-control" id="FormControlInput3" name="Hentrada" value="{{plan.Hentrada}}" required>
                        </div>
                        <div class="form-group">
                            <label for="FormControlInput4">Horario salida</label>
                            <input type="time" class="form-control" id="FormControlInput4" name="Hsalida" value="{{plan.Hsalida}}" required>
                        </div>
                        <fieldset>
                            <div class="form-group">
                                <label for="disabledTextInput">Coordenada Inicio de Actividad</label>
                                <input type="text" autocomplete="off" id="disabledCoord" class="form-control"
                                    name="coord" value="{{plan.coord}}" required>
                            </div>
                            <div class="form-group">
                                <label for="disabledTextInput">Coordenada Fin de Actividad</label>
                                <input type="text" autocomplete="off" id="disabledCoordf" class="form-control"
                                    name="coord2" value="{{plan.coord2}}">
                            </div>
                        </fieldset>
                        <label for="FormControlInput6">Distrito</label>
                        <div class="form-group">
                            <select class="form-control" name="url" required>
                                <option selected>{{plan.url}}</option>
                                <option value="AEROPUERTO">Aeropuerto</option>
                                <option value="ARAGÓN">Aragón</option>
                                <option value="CHALCO IXTAPALUCA">Chalco Ixtapaluca</option>
                                <option value="CHALCO VALLE">Valle de Chalco</option>
                                <option value="COACALCO">Coacalco</option>
                                <option value="CONSTITUCIÓN">Constitución</option>
                                <option value="ECATEPEC">Ecatepec</option>
                                <option value="HUEHUETOCA">Huehuetoca</option>
                                <option value="IZTAPALAPA">Iztapalapa</option>
                                <option value="LOS REYES">Los Reyes</option>
                                <option value="NEZA 1">Neza 1</option>
                                <option value="NEZA 2">Neza 2</option>
                                <option value="ODA">Ojo de Agua</option>
                                <option value="TECAMAC">Tecamac</option>
                                <option value="TEXCOCO">Texcoco</option>
                                <option value="TOLUCA LERMA">Toluca Lerma</option>
                                <option value="TOLUCA METEPEC">Toluca Metepec</option>
                                <option value="TOLUCA SAN CARLOS">Toluca San Carlos</option>
                                <option value="TULTEPEC">Tultepec</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="FormControlInput8">Áreas de apoyo</label>
                            <select class="form-control" name="apoyo">
                                <option selected>{{plan.apoyo}}</option>
                                <option value="Cambaceo">Cambaceo</option>
                                <option value="Promotoría Regional">Promotoría Regional</option>
                                <option value="Recursos Humanos">Recursos Humanos</option>
                                <option value="Servicio a Cliente">Recursos Humanos</option>
                                <option value="Unidades de Negocio">Unidades de Negocio</option>
                                <option value="Venta Técnico">Venta Técnico</option>
                                <option value="No Aplica">No Aplica</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="FormControlInput9">Actividades Especiales</label>
                            <select class="form-control" name="especiales">
                                <option selected>{{plan.especiales}}</option>
                                <option value="Caravana">Caravana</option>
                                <option value="Eventos Especiales">Eventos Especiales</option>
                                <option value="Oficina Móvil">Oficina Móvil</option>
                                <option value="No Aplica">No Aplica</option>
                            </select>
                        </div>

                        <label for="FormControlInput7">Comentarios</label>
                        <div class="form-group">
                            <textarea name="descripcion" rows="2" id="texto" class="form-control"
                                value={{plan.descripcion}} placeholder="Comentarios"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Enviar plan
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        {{!-- <div class="col-md-8">
            <div style="display: none">
                <input id="pac-input" class="controls" type="text" placeholder="Buscar Coordenada inicial" />
            </div>

            <div class="card text-center card-body">
                <h4>Coordenada Inicial</h4>
                <div id="map" style="width:100%; height:375px"></div>
            </div>

            <div style="display: none">
                <input id="pac-input2" class="controls2" type="text" placeholder="Buscar Coordenada final" />
            </div>
            <div class="pt-2">
             <div class="card text-center card-body p-t-10">
                <h4>Coordenada Final</h4>
                <div id="map2" style="width:100%; height:375px"></div>
             </div>
            </div>
        </div> --}}




    </div>

</div>

<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd;
    }

    if (mm < 10) {
        mm = '0' + mm;
    }

    today = yyyy + '-' + mm + '-' + dd;
    //document.getElementById("FormControlInput2").setAttribute("min", today);    
</script>


<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<script>
    function initMap() {
        // The location of Uluru
        const uluru = { lat: 19.359778919440505, lng: -99.16804980335407 };
        const centrum = { lat: 19.534697248999752, lng: -99.20620514879863 };



        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: uluru,
        });

        const map2 = new google.maps.Map(document.getElementById("map2"), {
            zoom: 15,
            center: centrum,
        });

        //The marker, positioned at Uluru
        let marker = new google.maps.Marker({
            position: uluru,
            map: map,
            draggable: true
        });

        const marker2 = new google.maps.Marker({
            position: centrum,
            map: map2,
            draggable: true
        });

        const input = document.getElementById("pac-input");
        
        const searchBox = new google.maps.places.SearchBox(input);

        const input2 = document.getElementById("pac-input2");

        const searchBox2 = new google.maps.places.SearchBox(input2);

        

        //["place_id", "geometry", "name", "formatted_address"]
        // Specify just the place data fields that you need.
        //const autocomplete = new google.maps.places.Autocomplete(input, {
            //setfields: ["formatted_address"],
        //});
        //const autocomplete2 = new google.maps.places.Autocomplete(input2, {
            //setfields: ["formatted_address"],
        //});

        
        //autocomplete.bindTo("bounds", map);
        //autocomplete2.bindTo("bounds", map2);

        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        map2.controls[google.maps.ControlPosition.TOP_LEFT].push(input2);

        map.addListener("bounds_changed", () => {
            searchBox.setBounds(map.getBounds());
        });

         map2.addListener("bounds_changed", () => {
            searchBox2.setBounds(map2.getBounds());
        });

        let markers = [];
        let markers2 = [];

        searchBox.addListener("places_changed", () => {
            const places = searchBox.getPlaces();
            const place = places[0]

            //console.log(place)

            if (places.length == 0) {
                return;
            }

            markers.forEach((marker) => {
            marker.setMap(null);
            });
            markers = [];

            const icon = {
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(25, 25),
            };

            //const bounds = new google.maps.LatLngBounds();
            
            //map.fitBounds(bounds);
  
            map.setCenter(place.geometry.location);
            marker.setPosition(place.geometry.location);
            document.getElementById("disabledCoord").value = place.geometry.location;
        });


        searchBox2.addListener("places_changed", () => {
            const places2 = searchBox2.getPlaces();
            const place2 = places2[0];

            //console.log(place)

            if (places2.length == 0) {
                return;
            }

            markers2.forEach((marker) => {
            markers2.setMap(null);
            });
            markers = [];

            const icon2 = {
            url: place2.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(25, 25),
            };

            //const bounds = new google.maps.LatLngBounds();
            
            //map.fitBounds(bounds);
  
            map2.setCenter(place2.geometry.location);
            marker2.setPosition(place2.geometry.location);
            document.getElementById("disabledCoordf").value = place2.geometry.location;
        });
            
        

        //autocomplete.addListener("place_changed", function () {

        //const place = autocomplete.getPlace();
        //map.setCenter(place.geometry.location);
        //marker.setPosition(place.geometry.location);
        //document.getElementById("disabledCoord").value = place.geometry.location;

        //});

        //autocomplete2.addListener("place_changed", function () {
            //infowindow.close();
            //const place2 = autocomplete2.getPlace();
            //map2.setCenter(place2.geometry.location);
            //marker2.setPosition(place2.geometry.location);
            //document.getElementById("disabledLatitud").value=place.geometry.location;
            //document.getElementById("disabledCoordf").value = place2.geometry.location;
            //console.log(place2)
        //});


        marker.addListener('dragend', function (event) {
            document.getElementById("disabledCoord").value = this.getPosition();
            //document.getElementById("disabledCoord").value=this.getPosition.lat();

        });

        marker2.addListener('dragend', function (event) {
            document.getElementById("disabledCoordf").value = this.getPosition();
            //document.getElementById("disabledCoord").value=this.getPosition.lat();

        });



    }

    //document.getElementById("disabledCoord").value=place.geometry.location.lat();
    //document.getElementById("disabledCoord").value=this.getPosition.lng();



    window.initMap = initMap;
    //window.initAutocomplete = initAutocomplete;


</script>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuZN_VlffaRbgHGPP6vcy-jPGiK25H494&libraries=places&callback=initMap">
    </script>